body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
/* navbar style starts from here */
header{
    display: flex;
    background-image: linear-gradient(135deg, purple, blue);
}
.heading{
    width: 50%;
    text-align: center;
    
}
.heading-nav{
    width: 50%;
    text-align: right;
}
.heading-nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
   padding: 30px 15px;
}
.heading-nav a:hover{
    text-decoration: underline;
    color: black;
}
/* nav bar ends here */
section{
    display: flex;
    background-image: url(images/Frame\ 57.jpg);
    background-position: 100%;

}
.half-width{
    width: 50%;
    padding: 1% 4%;
    
}
.half-width img{
    width: 80%;
}
span{
    color: orangered;
    font-size: 45px;
}
.half-width h1{
   font-size: 40px;
}
.btn{
    padding: 10px 30px;
    background-image: linear-gradient(30deg, red, blue);
    border-radius: 21px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    margin-top: 20px;

}